:root{
    --color-white: hsl(0, 0%, 100%);
    --light-violet: hsl(270, 3%, 87%);
    --dark-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    width: 100vw;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

.left-panel{
    background: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 30vw;
    max-width: 30vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cards-container{
    min-height:60vh;
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-back{
    background: url(./images/bg-card-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 447px;
    height: 245px;
    margin-left: 50%;
    display: flex;
    justify-content: end;
}

.card-front{
    background: url(./images/bg-card-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 447px;
    height: 245px;
    margin-left: 25%;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px 10px;
}


.date-field{
    width: 8px;
    height: 12px;
    border: 1.5px solid white;
    border-radius: 4px;
}

.card-logo{
    margin-bottom: 28px;
}

.numbers-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 0px;
    font-size: 28px;
    letter-spacing: 4px;
}

.number-field{
    width: 14px;
    height: 20px;
    border: 2px solid white;
    border-radius: 6px;
}

.number-block{
    display: flex;
    flex-direction: row;
    gap: 5px 5px;
    color: white;
    align-items: center;
}

.bottom-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 14px;
}

.mmyy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 0px 3px;
}

.card-back-content{
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin: auto 50px;
    gap: 0px 3px;
    color: white;
}


.form-panel{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form-panel-hidden{
    display: none;
}

.complete-panel{
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.complete-panel-hidden{
    display: none;
}

p{
    color: red;
    font-size: 12px;
}

.form-container{
    min-width: 24vw;
    max-width: 24vw;
}

.complete-state-container{
    display: flex;
    min-width: 24vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px 0px;
}

.thanks{
    font-size: 28px;
    color: var(--very-dark-violet);
    letter-spacing: 3px;
}

.desc{
    color: var(--dark-violet);
}

.button-continue{
    width: 100%;
    height: 3vw;
}

form{
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 0px; 
}

form label{
    color:var(--very-dark-violet);
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 24px;
}

form input{
    height: 40px;
    border: 1px solid var(--light-violet);
    border-radius: 8px;
    padding: 0px 8px;
    border-image-slice: 1;
    border-width: 1px;

}

form input::placeholder{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    margin-left: 10px;
}

.name-label, .card-label{
    display: block;
}

.date-label, .cvc-label{
    display: inline;
}

.bottom-inputs{
    display: flex;
    justify-content: space-between;
}

button{
    border:none;
    background: var(--very-dark-violet);
    color: var(--color-white);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover{
    background: hsl(277, 68%, 6%);
}

.date-container, .cvc-container{
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.5fr 1fr;
}

.long{
    width: 100%;
}

.date-inputContainer input{
    width: 40%;
}

@media only screen and (max-width: 700px) {
    body{
        display: block;
        width: 100vw;
    }

    .left-panel{
        min-height:20vh;
        min-width: 100vw;
    }

    .cards-container{
        display: none;
    }
    
    .form-panel{
        height: 80vh;
    }

    .form-container{
        max-width: 90vw;
    }
}
